body {
 background-image:url("UATspaceLogo-2.jpg");

background-repeat: no-repeat; 

background-position:top left;
}
h1 {
    color:black;

    text-shadow: -3px -3px 1px rgb(133, 1, 194);

    font-family:fantasy;

    font-style: italic;

    font-weight: lighter;

    text-align:top left 450px;
}
th {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color:black;

    font-weight:900;
   
    -webkit-text-stroke-color: black;

    -webkit-text-stroke-width: 1px;
}
input {
    border-radius: 200px;

    border-color: rgb(38, 0, 88);

    border-width: 3px;

    font-family: fantasy;
}
table {
    border-color:rgb(38, 0, 88);
}
td {
    color: black;

    -webkit-text-stroke-color:rgb(0, 21, 88);

    -webkit-text-stroke-width: .4px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    background-image: linear-gradient(180deg, white,rgb(125, 41, 185));

    background-repeat: no-repeat;

    background-size: 110%;
}
